@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
   
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
 font-weight: 500;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html::-webkit-scrollbar-thumb {
  background: #6610f2;
  border-radius: 5rem;
}
@font-face {
    font-family: "Expo";
    src: url(Exo2-VariableFont_wght.ttf);
  }
body 
{
  
      font-family: "Expo";
}

section {
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
  text-transform: capitalize;
  color: #334;
}

.heading span {
  color: #6610f2;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.3rem 3rem;
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  background: #6610f2;
  border-color: #6610f2;
  color: #fff;
  border-radius: 15px;
}

.btn:hover {
opacity: .8;
-webkit-transform: scale(.6);
transform: scale(.9);
}

.header .contact-info {
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #334;
}

.header .contact-info p {
  font-size: 1.5rem;
  color: #fff;
}

.header .contact-info p i {
  padding-right: .5rem;
  color: #2597f4;
}

.header .navbar {
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  position: relative;
  z-index: 1000;
}

.header .navbar.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .navbar .logo {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #334;
  font-weight: bolder;
}

.header .navbar .logo i {
  color: #6610f2;
}

.header .navbar .links a {
  margin-left: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #334;
}


.header .navbar .links a:hover:not(.not) {
  border-bottom: #6610f2 3px solid;
  padding-bottom: 1px;
  border-radius: 3%;
  color: #6610f2;

}

.header #menu-btn {
  font-size: 3rem;
  cursor: pointer;
  color: #334;
  display: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .image img {
 width: 100%;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .content h3 {
  font-size: 4.5rem;
  text-transform: capitalize;
  color: #334;
}

.home .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;

}

.fun-fact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 10px;
  justify-items: center;


}

.fun-fact .box {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 25px 30px;
    background-color: white;
    border-radius: 3%;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    width: 270px;
    height: 200px;

}

.fun-fact .box img {
  height: 7rem;
}

.fun-fact .box h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #334;
}

.fun-fact .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  width: 150%;
  margin-left: -13px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 3rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #000000;
  padding-bottom: .5rem;
}

.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #000000;
  padding: 1rem 0;
}



.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  text-align: center;
  background: #334;
  border-radius:15px;
  padding: 3rem 2rem;

}

.services .box-container .box:hover {
opacity: .9;
}



.services .box-container .box img {
  height: 7rem;
  margin-bottom: .5rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  padding: 1rem 0;
  color: #fff;
}

.services .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #fff;
}

.gallery .gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.gallery .gallery-container .box {
  height: 25rem;
  overflow: hidden;
}

.gallery .gallery-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery .gallery-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
     border-radius: 100px;
}



.facilities .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.facilities .box-container .box {
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #334;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #334;
  border-radius: 25px;
}

.facilities .box-container .box:hover {
opacity: .8;
}



.facilities .box-container .box img {
  height: 10rem;
  margin-bottom: .5rem;
}

.facilities .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
}

.facilities .box-container .box p {
  font-size: 1.4rem;
  line-height: 2;
  color: #dadada;
}


.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #334;
  padding-bottom: 1rem;
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox input, .contact .row form textarea {
    padding: 2.2rem 2.4rem;
    font-size: 1.6rem;
    color: #777;
    margin: 0.7rem 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border-radius: 29px;
}

.contact .row form .inputBox input:focus, .contact .row form textarea:focus {
  background: #334;
  color: #fff;
}

.contact .row form .inputBox input:focus::-webkit-input-placeholder, .contact .row form textarea:focus::-webkit-input-placeholder {
  color: #fff;
}

.contact .row form .inputBox input:focus:-ms-input-placeholder, .contact .row form textarea:focus:-ms-input-placeholder {
  color: #fff;
}

.contact .row form .inputBox input:focus::-ms-input-placeholder, .contact .row form textarea:focus::-ms-input-placeholder {
  color: #fff;
}

.contact .row form .inputBox input:focus::placeholder, .contact .row form textarea:focus::placeholder {
  color: #fff;
}

.contact .row form textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}

.footer {
background-color: #334;
}

.footer .box-container {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
}

.footer .box-container .box .link {
  display: block;
  padding: .5rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #ffffff;
}

.footer .box-container .box .link i {
  padding-right: .5rem;
  color: #2597f4;
}

.footer .box-container .box .link:hover {
  color: #2597f4;
}

.footer .box-container .box .link:hover i {
  padding-right: 2rem;
}

.footer .box-container .box p {
  padding: .5rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: white;
}

.footer .box-container .box p span {
  color: #2597f4;
}

.input {
    max-width: 190px;
    padding: 15px;
    font-size: 17px;
    color: black;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    border: 2px solid #fff;
    margin-right: -10px;
    margin-bottom: 13px;
  }
  
  .button {
    border: none;
    background-color: #6610f2;
    text-decoration: none;
    padding: 17px;
    padding-bottom: 17px;
    font-size: 17px;
    color: #fff;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    cursor: pointer;
  }
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}




@media (max-width: 1200px) {
  .header .contact-info {
    padding: 2rem 5%;
  }
  .header .navbar {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header .contact-info {
    padding: 2rem;
  }
  .header .navbar {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header .contact-info {
    display: none;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .navbar .links {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.2rem solid #334;
    border-bottom: 0.2rem solid #334;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar .links.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar .links a {
    display: block;
    margin: 2.5rem 2rem;
    font-size: 2.5rem;
  }
  .fun-fact {
    gap: 6rem;
  }
  .fun-fact .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
  .heading {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */